In [1]:
import pandas as pd
import geopandas as gp
import descartes as descartes
import numpy as np
from shapely.geometry import Point
from geopandas import GeoDataFrame

### Analytics - Query Bimbo - Abraxas

In [2]:
bimbo = pd.read_csv('../data/entidad_municipio.csv')

In [3]:
bimbo.sample(5)

,lt_clean,id_colaborador,num_bajas,lugar_de_trabajo,Estado.unique,Municipio.unique,CVE_MUN,CVE_ENT,id,name,type,latitude,longitude,address
797,39656,12,0.0,santa catarina,NaN,NaN,27.6648274,-81.5157535,919.0,SANTA CATARINA,CENTRO DE VENTAS,27.6648274,-81.5157535,25 DE MAYO 281 285 COL TRABAJADORES SANTA CATA...
943,39811,8,0.0,leon milenium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
826,39694,26,0.0,atlacomulco,NaN,NaN,19.78892052,-99.8800455,54.0,ATLACOMULCO,CENTRO DE VENTAS,19.78892052,-99.8800455,MAXIMINO MONTIEL OLMOS LT 1 MZ 18A PARQUE INDU...
335,2142,46,0.0,valle de bravo,['ESTADO DE MÉXICO'],['Valle de Bravo'],112,15,1080.0,VALLE DE BRAVO,CENTRO DE VENTAS INTERMEDIO,19.2016719,-100.1358646,CALLE BENITO JUAREZ COLONIA CALVARIO VALLE DE ...
549,2571,60,0.0,tecate,['BAJA CALIFORNIA NORTE' nan],['Tecate' nan],3,2,981.0,TECATE,CENTRO DE VENTAS,32.57546927,-116.6089259,AVENIDA CORREGIDORA Y LA PAZ 1030 COL INDUSTRI...

In [4]:
bimbo.dtypes

lt_clean             object
id_colaborador        int64
num_bajas           float64
lugar_de_trabajo     object
Estado.unique        object
Municipio.unique     object
CVE_MUN              object
CVE_ENT              object
id                  float64
name                 object
type                 object
latitude             object
longitude            object
address              object
dtype: object

In [5]:
bimbo.CVE_ENT = bimbo.CVE_ENT.astype(str)
bimbo.CVE_MUN = bimbo.CVE_MUN.astype(str)

In [6]:
bimbo.shape

(974, 14)

In [7]:
bimbo.sample(2)

,lt_clean,id_colaborador,num_bajas,lugar_de_trabajo,Estado.unique,Municipio.unique,CVE_MUN,CVE_ENT,id,name,type,latitude,longitude,address
513,2480,152,0.0,victoria bimbo,['TAMAULIPAS' nan],['Victoria' nan],40,28,NaN,NaN,NaN,NaN,NaN,NaN
428,2352,145,0.0,cordoba,['VERACRUZ' nan],['Cordoba' nan],45,30,228.0,CORDOBA,CENTRO DE VENTAS,18.875378,-96.9558787,Boulevard General Antonio Portas esq Calle sin...

In [8]:
# # longitud
# bimbo['CVE_ENT'] = bimbo['CVE_ENT'].replace(['bm_atitalaquia',
#                                              'blm_merida',
#                                              'blm_cuautitlan barcel',
#                                              'blm_guadalajara',
#                                              'barcel tlajomulco',
#                                              'eag_toluca la corona',
#                                              'rm_cancun',
#                                              'eag_guadalajara la corona',
#                                              'reynosa qnet',
#                                              '-102.3482009',
#                                              '-88.31008102',
#                                              '-110.298521',
#                                              '-86.94894923',
#                                              '-101.4753924',
#                                              '-91.7707144',
#                                              '-104.3642149',
#                                              '-99.45961667'],
#                                             ['13',
#                                              '31',
#                                              '15',
#                                              '14',
#                                              '14',
#                                              '15',
#                                              '23',
#                                              '14',
#                                              '28',
#                                              '16',
#                                              '23',
#                                              '3',
#                                              '23',
#                                              '5',
#                                              '4',
#                                              '14',
#                                              '12'])
# # Latitud
# bimbo['CVE_MUN'] = bimbo['CVE_MUN'].replace(['bm_atitalaquia',
#                                              'blm_merida',
#                                              'blm_cuautitlan barcel',
#                                              'blm_guadalajara',
#                                              'barcel tlajomulco',
#                                              'eag_toluca la corona',
#                                              'rm_cancun',
#                                              'eag_guadalajara la corona',
#                                              'reynosa qnet',
#                                              '19.0738265',
#                                              '18.51810585',
#                                              '24.12208172',
#                                              '20.5103889',
#                                              '26.93320841',
#                                              '18.66057533',
#                                              '19.7499177',
#                                              '17.48992222'],
#                                             ['10',
#                                              '50',
#                                              '24',
#                                              '39',
#                                              '97',
#                                              '106',
#                                              '5',
#                                              '39',
#                                              '32',
#                                              '6',
#                                              '4',
#                                              '3',
#                                              '1',
#                                              '18',
#                                              '3',
#                                              '15',
#                                              '29'])

In [9]:
# no = ['blm_laguna','moldex',
#        'rm_san luis potosi ricolino',
#        'oficina central nacional operaciones',
#        'oficina central operativa metro',
#        'oficina central nacional comercial',
#        'oficina central comercial metro',
#        'oficina central comercial occidente',
#        'oficina central comercial norte',
#        'oficina central comercial sureste',
#        'oficina central comercial noroeste', 'rm_golfo', '-102.3139772',
#        '-100.4106781', '-98.12419489', '-97.960347', '-103.396363',
#        '-117.0280768', '-90.73884899', '-94.56734964', '-108.0927642',
#        '-101.9694524', '-103.3480648', '-112.266625', '-101.1884106',
#        '-99.10240833', '-99.0759938', '-86.87496767', '-92.11147359',
#        '-96.9558787', '-98.91425556', '-109.6780906', '-89.2717724',
#        '-104.6193976', '-98.6083', '-99.0767213', '-95.53534121',
#        '-101.4043512', '-109.457561', '-103.4225207', '-107.4706438',
#        '-113.5117914', '-96.3488756', '-95.802', '-107.5990223',
#        '-81.5157535', '-93.89067492', '-106.4146752', '-105.0834194',
#        '-98.46343', '-99.59239092', '-98.3954487', '-99.1898515',
#        '-97.39981244', '-100.1488939', '-99.1585', '-99.18057222',
#        '-94.91612745', '-94.91578', '0', '-93.20726944', '-100.6493722',
#        '-109.5800278', '-99.8800455', '-112.1215554', '-90.5089322',
#        '-107.9025468', '-103.4869823', '-109.9049042', '-94.52221773',
#        '-103.743162', '-106.874297', '-99.17991667', '-99.16975556',
#        '-107.4282459', '-106.0772219', '-102.5326319', '-105.4804681',
#        '-116.6084367', '-102.8535657', '-103.3467951', '-100.2132946',
#        '-108.473733', '-110.9312769', '-97.74581454', '-99.53330556',
#        '-98.89786944', '-95.07514254', '-99.0888529', '-102.0520711',
#        '-102.2028826', '-98.97424286', '-104.3345834', '-97.04100243',
#        '-97.53820397', '-100.624927', '-94.45007104', '-101.2158309',
#        '-99.21251667', '-110.9352324', '-96.78106226', '-102.7741114',
#        '-97.13688532', '-98.77225606', '-105.6983069', '-100.5294515',
#        '-98.0519654', '-87.055197', '-97.41117156', '-98.15718138',
#        '-98.30427913', '-92.96908317', '-114.7116355', '-92.65758902',
#        '-99.97638975', '-100.880117', '-101.0153254', '-96.70616762',
#        '-99.04760278', '-100.2273986', '-99.22625', '-92.30497112',
#        '-97.4225402', '-102.7966154', '-104.8478641', '-97.37364971',
#        '-114.0330557', '-99.55208685', '-103.459017', '-98.38506946',
#        '-96.13537601', '-93.19082158', '-102.0539146', '-88.23098048',
#        '-105.2280817', '-89.67211824', '-96.86056706', '-103.8767024',
#        '-100.2942176', '-97.69027833', '-101.8196929', '-96.4942895',
#        '-100.1358646', '-100.38', 'oficina central nacional',
#        'ofn central nacional servicios']

In [10]:
# bimbo = bimbo[~bimbo['CVE_ENT'].isin(no)]
# bimbo = bimbo[~bimbo['CVE_MUN'].isin(no)]

In [11]:
bimbo.shape

(974, 14)

In [12]:
bimbo['CVE_MUN'].isna().sum()

0

In [13]:
bimbo['CVE_MUN'].unique()

array(['2', '3', '53', '40', 'nan', '6', '1', '120', '46', '4', '111',
       '13', '108', '41', '54', 'moldex', '28', '196', '116', '50', '18',
       'bm_atitalaquia', '30', '12', 'blm_laguna',
       'rm_san luis potosi ricolino', 'blm_merida',
       'blm_cuautitlan barcel', 'blm_guadalajara', 'barcel tlajomulco',
       '15', 'eag_toluca la corona', '20', '98', '8',
       'oficina central nacional operaciones',
       'oficina central operativa metro', '55', '5', '47', '208', '113',
       '16', '59', '99', '45', '39', '79', '29', '68', '78', '89', '87',
       '22', '43', '49', '19', '175', '9', '48', '60', '90', '63', '192',
       '84', '56', '52', '34', '14', '17', 'rm_cancun', '51', '37', '32',
       '25', '21', '11', '7', '24', '38', '36', '26', '44', '10', '57',
       '106', '72', '67', '86', '486', '136', '319', '31', '27', '144',
       '76', '156', '94', '174', '186', '100', '103', '102', '71', '198',
       '109', '133', '112', '114', '517', '164',
       'oficina central nacional comercial',
       'oficina central comercial metro',
       'oficina central comercial occidente',
       'oficina central comercial norte',
       'oficina central comercial sureste',
       'oficina central comercial noroeste', 'rm_golfo', '62', '231',
       '75', '23', '82', '405', '124', '80', '472', '101', '83', '122',
       '21.88941816', '19.89658851', '19.41366198', '19.929312',
       '20.73607305', '32.47298067', '18.61266221', '17.99345734',
       '25.47456852', '21.32968497', '20.5924843', '27.33718889',
       '20.543698', '19.40030389', '19.637264', '21.17240061',
       '16.20850733', '18.875378', '18.748475', '29.81370927',
       '20.19420607', '17.48992222', '24.04428625', '17.53941',
       '19.4409706', '18.02407467', '24.12208172', '20.94734359',
       '27.04897722', '20.64530577', '29.0284535', '31.34208259',
       '18.44820142', '18.36906', '27.97233491', '27.6648274',
       '16.23692648', '23.27370053', '24.88633994', '19.7181',
       '18.95538441', '21.15294453', '17.5997831', '20.96632127',
       '18.9200813', '19.49421944', '18.62183056', '17.93757206',
       '17.93735', '0', '18.24786667', '18.34055278', '31.33248056',
       '19.0738265', '19.78892052', '19.7499177', '30.72360205',
       '19.8120355', '30.4223137', '19.68634234', '27.51580094',
       '18.66057533', '18.14011356', '19.20370888', '20.5103889',
       '28.38767574', '19.65287778', '18.89830556', '24.7959031',
       '18.51810585', '28.6933839', '20.52313575', '28.21178239',
       '31.87857852', '23.2017885', '20.57828505', '25.70300104',
       '25.56696337', '27.95179105', '17.82919593', '18.35785',
       '19.31048333', '16.53013803', '19.3222882', '20.35828152',
       '17.95425226', '22.72197295', '19.1322552', '20.07436099',
       '25.8268774', '23.687931', '18.1170057', '26.93320841',
       '19.6838531', '19.51948333', '31.27723667', '17.15094622',
       '20.31760794', '18.83842487', '20.08273755', '26.92629199',
       '28.69178402', '16.3381475', '20.668032', '20.50883311',
       '19.08013029', '26.06071106', '17.97982193', '32.46265749',
       '16.73049363', '20.42014651', '22.0544566', '22.1389398',
       '16.96933868', '19.55742222', '25.8750519', '19.38546944',
       '14.87855526', '18.47032425', '20.7747967', '21.47158175',
       '19.82183433', '27.96913613', '19.28693382', '25.56204676',
       '20.07036664', '18.12355206', '16.76601812', '19.37150235',
       '20.68680381', '20.70936068', '20.93524053', '19.49969462',
       '18.9142569', '19.45036889', '17.24762495', '21.03709592',
       '19.8766239', '18.762614', '19.2016719', '21.011',
       'oficina central nacional', 'ofn central nacional servicios'],
      dtype=object)

In [14]:
bimbo['CVE_ENT'].isna().sum()

0

In [30]:
cuantos = 974-466
print(f'Quito los NaN y me quedan {cuantos} lugares de trabajo con clave de entidad y municipio')

Quito los NaN y me quedan 508 lugares de trabajo con clave de entidad y municipio

In [31]:
bimbo = bimbo[bimbo['CVE_MUN'].notna()].reset_index(drop=True)

In [32]:
bimbo.shape

(974, 14)

# 508 Lugares de trabajo con CVE_ENT y CVE_MUN

In [19]:
# bimbo.CVE_ENT = bimbo.CVE_ENT.astype(str)
# bimbo.CVE_MUN = bimbo.CVE_MUN.astype(str)

In [33]:
# Relleno con ceros para matchear despues con el mapa
bimbo["CVE_ENT"] = bimbo['CVE_ENT'].str.zfill(2)
bimbo["CVE_MUN"] = bimbo['CVE_MUN'].str.zfill(3)

In [34]:
bimbo = bimbo[['lt_clean','lugar_de_trabajo','id_colaborador','num_bajas','CVE_MUN','CVE_ENT']]

In [40]:
bimbo.sample(10)

,lt_clean,lugar_de_trabajo,id_colaborador,num_bajas,CVE_MUN,CVE_ENT
723,3436,paseo montejo yuc,7,0.0,050,31
74,12620,blm_salamanca,20,0.0,012,11
914,39781,tepatitlan,4,0.0,20.7747967,-102.7966154
898,39766,sabinas,5,0.0,nan,nan
549,2571,tecate,60,0.0,003,02
688,3280,centro sur jal,6,0.0,099,14
73,12617,blm_santa rosalia,2,0.0,004,03
830,39698,cardenas,14,0.0,nan,nan
598,3066,plaza satelite,11,0.0,060,15
518,2496,la fe,177,0.0,024,19

In [41]:
good = bimbo.groupby(['CVE_ENT','CVE_MUN']).agg({'id_colaborador':'sum','num_bajas':'sum'}).reset_index()

In [42]:
good = good.rename(columns = {'id_colaborador': 'num_colabs'})

In [43]:
good.sample(3)

         CVE_ENT    CVE_MUN  num_colabs  num_bajas
94   -96.4942895  18.762614          10        0.0
154           05        010          32        0.0
360           28        026         153        0.0

In [44]:
good.dtypes

CVE_ENT        object
CVE_MUN        object
num_colabs      int64
num_bajas     float64
dtype: object

# SHP File

In [45]:
poligonos = gp.read_file("../data/poligonos/conjunto_de_datos/areas_geoestadisticas_municipales.shp",encoding='utf-8')

In [46]:
poligonos.sample(5)

,CVE_ENT,CVE_MUN,NOM_MUN,geometry
127,07,002,Acala,"POLYGON ((3481051.914 551271.364, 3481393.870 ..."
1231,20,304,San Pedro Coxcaltepec Cántaros,"POLYGON ((3013077.817 625446.860, 3013170.769 ..."
2173,31,089,Ticul,"POLYGON ((3795494.499 997595.965, 3795514.074 ..."
961,20,030,El Espinal,"POLYGON ((3250955.918 520093.844, 3250507.970 ..."
2125,30,062,Chocamán,"POLYGON ((3021673.141 791329.230, 3021689.594 ..."

In [47]:
type(poligonos)

geopandas.geodataframe.GeoDataFrame

## LAT y LONG

In [48]:
coord = pd.read_csv('../data/Lat_Long_Ent_Mun.csv',index_col=0)

In [49]:
coord = coord.rename(columns = {'Cve_Ent':'CVE_ENT',
                      'Cve_Mun':'CVE_MUN',
                      'Lat_Decimal':'LAT',
                      'Lon_Decimal': 'LON'})

In [50]:
coord.CVE_ENT = coord.CVE_ENT.astype(str)
coord.CVE_MUN = coord.CVE_MUN.astype(str)

In [51]:
# Relleno con ceros para matchear despues con el mapa
coord["CVE_ENT"] = coord['CVE_ENT'].str.zfill(2)
coord["CVE_MUN"] = coord['CVE_MUN'].str.zfill(3)

In [52]:
coord = coord[['CVE_ENT','CVE_MUN','LAT','LON']]

In [53]:
coord

     CVE_ENT CVE_MUN        LAT         LON
0         01     001  21.831189 -102.282474
1         01     002  22.140375 -102.041058
2         01     003  21.880951 -102.715365
3         01     004  22.358699 -102.280826
4         01     005  21.947068 -102.386755
...      ...     ...        ...         ...
2464      32     054  22.391297 -101.740136
2465      32     055  22.297291 -102.865748
2466      32     056  22.738338 -102.678156
2467      32     057  22.752989 -102.318223
2468      32     058  21.514028 -103.361275

[2469 rows x 4 columns]

In [54]:
coord = coord.assign(loc=coord[['LAT', 'LON']].values.tolist())

In [55]:
coord['loc'] = coord['loc'].astype(str)

#### Agregar base con columnas de defuncion, confirmados y población total por covid por municipio en México

In [56]:
Y = pd.read_pickle('../data/mexico_datos.pkl')

In [57]:
Y.CVE_ENT = Y.CVE_ENT.astype(str)
Y.CVE_MUN = Y.CVE_MUN.astype(str)

In [58]:
# Relleno con ceros para que matchee despues con el mapa
Y["CVE_ENT"] = Y['CVE_ENT'].str.zfill(2)
Y["CVE_MUN"] = Y['CVE_MUN'].str.zfill(3)

In [59]:
Y

     CVE_ENT CVE_MUN  pobtot  CLASIFICACION_FINAL  FECHA_DEF
0         01     001  877190                13937       1209
1         01     002   46464                  305         16
2         01     003   56048                  521         15
3         01     004   15577                  103          5
4         01     005  120405                  522         35
...      ...     ...     ...                  ...        ...
2458      32     054   19155                   73         14
2459      32     055   30240                  310         34
2460      32     056  146147                 5209        350
2461      32     057   19413                  164         25
2462      32     058    2656                    7          1

[2463 rows x 5 columns]

#### Columna de % de letalidad y % riesgo
- letalidad = fallecimientos por covid/confirmados covid
- riesgo = confirmados covid/poblacion total municipio

In [60]:
Y['prc_letalidad'] = ((Y['FECHA_DEF']/Y['CLASIFICACION_FINAL'])*100).round(2)
Y['prc_riesgo'] = ((Y['CLASIFICACION_FINAL']/Y['pobtot'])*100).round(2)

In [61]:
Y.dtypes

CVE_ENT                 object
CVE_MUN                 object
pobtot                   int32
CLASIFICACION_FINAL      int32
FECHA_DEF                int32
prc_letalidad          float64
prc_riesgo             float64
dtype: object

In [62]:
Y['prc_letalidad'].isna().sum()

159

In [63]:
Y = Y.fillna(0)

In [64]:
Y ['prc_letalidad'] = Y["prc_letalidad"].replace([np.inf, -np.inf], 0)
Y ['prc_riesgo'] = Y["prc_riesgo"].replace([np.inf, -np.inf], 0)

#### Escala de % letalidad de 0.58 a 100

In [47]:
# Y['prc_letalidad'] = Y['prc_letalidad'].astype(int)

In [48]:
# Y.prc_letalidad = Y.prc_letalidad.astype(str)
# Y.prc_riesgo = Y.prc_riesgo.astype(str)

In [49]:
# Y.loc[Y['FECHA_DEF']== 0]

### Merge con LAT,LONG, despues con defunciones y luego con info bimbo

- merge poligonos con LAT y LONG

In [65]:
poligonos = poligonos.merge(coord, on = ['CVE_ENT','CVE_MUN'], how = 'left')

- merge del anterior con datos covid mexico

In [66]:
poligonos = poligonos.merge(Y, on = ["CVE_ENT", "CVE_MUN"], how = "left")

In [67]:
poligonos.head(3)

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,LAT,LON,loc,pobtot,CLASIFICACION_FINAL,FECHA_DEF,prc_letalidad,prc_riesgo
0,01,002,Asientos,"POLYGON ((2494680.261 1141224.506, 2494749.948...",22.140375,-102.041058,"[22.14037456198347, -102.0410577644627]",46464,305,16,5.25,0.66
1,01,011,San Francisco de los Romo,"POLYGON ((2471901.164 1118837.535, 2471903.404...",22.034357,-102.255482,"[22.034356587301573, -102.2554817777778]",46454,170,17,10.00,0.37
2,01,007,Rincón de Romos,"POLYGON ((2476760.231 1150329.046, 2476783.634...",22.216246,-102.300355,"[22.21624573546513, -102.30035470348835]",53866,576,24,4.17,1.07

In [68]:
poligonos.dtypes

CVE_ENT                  object
CVE_MUN                  object
NOM_MUN                  object
geometry               geometry
LAT                     float64
LON                     float64
loc                      object
pobtot                    int32
CLASIFICACION_FINAL       int32
FECHA_DEF                 int32
prc_letalidad           float64
prc_riesgo              float64
dtype: object

- merge del anterior con la info de bimbo

In [69]:
df = poligonos.merge(good, on = ["CVE_ENT", "CVE_MUN"], how = "left")

In [70]:
df = df.rename(columns={'FECHA_DEF':'num_def',
                        'CLASIFICACION_FINAL':'confirmados'})

In [71]:
df.head()

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,LAT,LON,loc,pobtot,confirmados,num_def,prc_letalidad,prc_riesgo,num_colabs,num_bajas
0,01,002,Asientos,"POLYGON ((2494680.261 1141224.506, 2494749.948...",22.140375,-102.041058,"[22.14037456198347, -102.0410577644627]",46464,305,16,5.25,0.66,NaN,NaN
1,01,011,San Francisco de los Romo,"POLYGON ((2471901.164 1118837.535, 2471903.404...",22.034357,-102.255482,"[22.034356587301573, -102.2554817777778]",46454,170,17,10.00,0.37,NaN,NaN
2,01,007,Rincón de Romos,"POLYGON ((2476760.231 1150329.046, 2476783.634...",22.216246,-102.300355,"[22.21624573546513, -102.30035470348835]",53866,576,24,4.17,1.07,NaN,NaN
3,01,008,San José de Gracia,"POLYGON ((2453254.179 1144800.521, 2453326.553...",22.160685,-102.530887,"[22.160685024000006, -102.53088664000002]",8896,92,3,3.26,1.03,NaN,NaN
4,01,005,Jesús María,"POLYGON ((2466710.861 1102163.965, 2466673.583...",21.947068,-102.386755,"[21.947067920127783, -102.38675468370609]",120405,522,35,6.70,0.43,NaN,NaN

In [72]:
df['pobtot'] = df.apply(lambda x: "{:,}".format(x['pobtot']), axis=1)
# df['num_def'] = df.apply(lambda x: "{:,}".format(x['num_def']), axis=1)

In [58]:
df = df.to_crs("EPSG:4326")
df.head()

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,LAT,LON,loc,pobtot,confirmados,num_def,prc_letalidad,prc_riesgo,num_colabs,num_bajas
0,01,002,Asientos,"POLYGON ((-102.05189 22.29144, -102.05121 22.2...",22.140375,-102.041058,"[22.14037456198347, -102.0410577644627]","46,464",305,16,5.25,0.66,NaN,NaN
1,01,011,San Francisco de los Romo,"POLYGON ((-102.27368 22.08798, -102.27366 22.0...",22.034357,-102.255482,"[22.034356587301573, -102.2554817777778]","46,454",170,17,10.00,0.37,NaN,NaN
2,01,007,Rincón de Romos,"POLYGON ((-102.22684 22.37393, -102.22661 22.3...",22.216246,-102.300355,"[22.21624573546513, -102.30035470348835]","53,866",576,24,4.17,1.07,NaN,NaN
3,01,008,San José de Gracia,"POLYGON ((-102.45611 22.32323, -102.45537 22.3...",22.160685,-102.530887,"[22.160685024000006, -102.53088664000002]","8,896",92,3,3.26,1.03,NaN,NaN
4,01,005,Jesús María,"POLYGON ((-102.32387 21.93653, -102.32423 21.9...",21.947068,-102.386755,"[21.947067920127783, -102.38675468370609]","120,405",522,35,6.70,0.43,NaN,NaN

In [59]:
df['num_colabs'].isnull().sum()

2204

In [60]:
df['prc_riesgo'].isnull().sum() # faltan las que se quedaron en 0

0

In [61]:
df = df.fillna("N/A")
df['num_bajas'] = df['num_bajas'].replace([0],'N/A')
# df['prc_riesgo'] = df['prc_riesgo'].replace([0],'N/A')
# df['prc_letalitad'] = df['prc_letalitad'].replace([0],'N/A')


df.head(10)

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,LAT,LON,loc,pobtot,confirmados,num_def,prc_letalidad,prc_riesgo,num_colabs,num_bajas
0,01,002,Asientos,"POLYGON ((-102.05189 22.29144, -102.05121 22.2...",22.140375,-102.041058,"[22.14037456198347, -102.0410577644627]","46,464",305,16,5.25,0.66,N/A,N/A
1,01,011,San Francisco de los Romo,"POLYGON ((-102.27368 22.08798, -102.27366 22.0...",22.034357,-102.255482,"[22.034356587301573, -102.2554817777778]","46,454",170,17,10.00,0.37,N/A,N/A
2,01,007,Rincón de Romos,"POLYGON ((-102.22684 22.37393, -102.22661 22.3...",22.216246,-102.300355,"[22.21624573546513, -102.30035470348835]","53,866",576,24,4.17,1.07,N/A,N/A
3,01,008,San José de Gracia,"POLYGON ((-102.45611 22.32323, -102.45537 22.3...",22.160685,-102.530887,"[22.160685024000006, -102.53088664000002]","8,896",92,3,3.26,1.03,N/A,N/A
4,01,005,Jesús María,"POLYGON ((-102.32387 21.93653, -102.32423 21.9...",21.947068,-102.386755,"[21.947067920127783, -102.38675468370609]","120,405",522,35,6.70,0.43,N/A,N/A
5,01,009,Tepezalá,"POLYGON ((-102.17985 22.35353, -102.18029 22.3...",22.226426,-102.231797,"[22.226426205479445, -102.23179720547944]","20,926",215,7,3.26,1.03,N/A,N/A
6,01,001,Aguascalientes,"POLYGON ((-102.32387 21.93653, -102.32375 21.9...",21.831189,-102.282474,"[21.831189376891324, -102.28247383493816]","877,190",13937,1209,8.67,1.59,588,N/A
7,01,006,Pabellón de Arteaga,"POLYGON ((-102.27378 22.08810, -102.27415 22.0...",22.118758,-102.282648,"[22.11875763176896, -102.2826480758124]","46,473",622,36,5.79,1.34,N/A,N/A
8,01,010,El Llano,"POLYGON ((-102.02946 22.06225, -102.02702 22.0...",21.881242,-102.077864,"[21.88124173706897, -102.0778640172414]","20,245",40,7,17.50,0.20,N/A,N/A
9,01,003,Calvillo,"POLYGON ((-102.68569 22.09963, -102.69087 22.0...",21.880951,-102.715365,"[21.880951098639446, -102.7153652755102]","56,048",521,15,2.88,0.93,N/A,N/A

In [62]:
df.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [63]:
df.dtypes

CVE_ENT            object
CVE_MUN            object
NOM_MUN            object
geometry         geometry
LAT               float64
LON               float64
loc                object
pobtot             object
confirmados         int32
num_def             int32
prc_letalidad     float64
prc_riesgo        float64
num_colabs         object
num_bajas          object
dtype: object

In [64]:
df.loc[df['NOM_MUN']=='Álvaro Obregón']

,CVE_ENT,CVE_MUN,NOM_MUN,geometry,LAT,LON,loc,pobtot,confirmados,num_def,prc_letalidad,prc_riesgo,num_colabs,num_bajas
265,09,010,Álvaro Obregón,"POLYGON ((-99.20555 19.30672, -99.20565 19.306...",19.310810,-99.271163,"[19.310810375, -99.2711625]","749,982",37371,1344,3.60,4.98,18,N/A
719,16,003,Álvaro Obregón,"POLYGON ((-101.00228 19.95236, -101.00089 19.9...",19.861804,-101.021126,"[19.861804483870976, -101.02112551612908]","21,651",161,6,3.73,0.74,N/A,N/A

In [65]:
df.loc[(df.CVE_ENT == '09') & (df.CVE_MUN == '010'), 'NOM_MUN'] = "Álvaro Obregón CDMX"

In [66]:
df['geometry']= df['geometry'].simplify(tolerance = 0.001, preserve_topology = True)

In [67]:
df.to_file("../static/data/municipios_entidad.geojson", driver='GeoJSON')

In [68]:
df.to_file("../data/municipios_entidad.geojson", driver='GeoJSON')